.NavBar {
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    border-top: solid 10px var(--color);
}
.NavContainer {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}
.NavList {
    margin: 0;
    padding:0;
}

.NavList .NavItem {
    list-style-type: none;
    margin: 15px 0 0 0;
}

.NavItem .NavLink {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--link);
    font-family: "Open sans";
    font-weight: 700;
    transition: 0.25s ease-out;
}



.NavItem .NavLink:hover {
    color: var(--transColor);
}


.NavButton {
    
  background:transparent;
  border: none;
}
.NavButton .NavIcon {
    font-size: 25px;
}

.hide {
    display: none;
}

.NavItem .NavLink.darkMode {
    color: #fff;
}

.NavButton.darkMode {
    color: white;
}


@media (min-width: 800px) {
    .NavButton {
        display: none;
    }
    .NavList .NavItem {
       display: inline-block;
        margin: 15px 22px;
    }
    .hide {
        display: block;
    }
    
}