footer {
    height: 10vh;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.footerContainer p {
  
    letter-spacing: 5px;
}


.footerTxt  {
    color: var(--iconColor);
}
 .darkMode {
    color: #fff;
}