html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.App {
  border-top: solid 10px var(--color);
   background: var(--bg);

}
:root {
  --color: #0480F1;
  --transColor: rgb(4,128,241);
  --iconColor: #3C3C3C;
  --heroText: #CBCCCC;
  --link: #3C3C3C;
  --bg: #FAFBFB;
  --projectCard: #ECF0F3; 
}