html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Open sans";


}
.App {
   min-height: 100vh;
   background: var(--bg);
}

.App.darkMode {
  background: var(--darkMode);
}

.defaultColor {
  color: var(--link);
}
:root {
  --darkMode: #1B2331;
  --color: #0480F1;
  --transColor: rgb(4,128,241);
  --iconColor: #3C3C3C;
  --heroText: #CBCCCC;
  --link: #3C3C3C;
  --bg: #FAFBFB;
  --projectCard: #ECF0F3; 
}


/* Page Transition */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
